* {
    font-size: 20px;
}

body {
    background-image: url("../images/pexels-lorenzo-242236.jpg");
    background-position: fixed;
}


footer {
    text-align: center;
    font-size: 16px;
    background-color: #f8f9fa00;
}

.hero {
    background-color: rgb(230, 230, 230);
}

.profilepic {
    width: 200px;
    height: 200px;
}

.poem {
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
}

.bug {
    width: 26px;
    height: 26px;
}