* {
    font-size: 20px;
}

footer {
    text-align: center;
    background-color: honeydew;
}

.hero {
    background-color: rgb(230, 230, 230);
}

.profilepic {
    width: 200px;
    height: 200px;
}

.poem {
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
}